郑州大学电气与信息工程学院电子设计自动化课程大作业姓    名                    学    号                     班    级                    专    业                    可变参数波形发生器设计功能要求设计一个波形发生器，至少可以生成4种波形，如正弦波、方波、锯齿波、三角波等。每种波形及其基本参数如幅度、频率等，可以通过按键进行设置。参数种类至少2个（如幅度和频率），每个参数的取值至少4个。每种波形的基本参数如幅度、频率等，可以通过串口进行设置，串口通信协议自定。（该功能选做）总体设计思路  说明系统的总体设计框架、主要组成模块及模块间时序关系。设计步骤详细给出每个模块的功能、设计方法和测试验证结果（modelsim仿真或SignalTap），并对结果进行分析说明。设计中遇到的主要问题及解决方法源程序心得体会大作业要求（正式提交时请删除该部分内容）：正文使用宋体5号，单倍行距。文中所有图片，应大小适中、清晰，并有图题。全部内容不超过15页，双面打印，打印后左侧订3个订书钉。5月26日12：00前，各班班长将本班设计报告的纸质版收齐后交到工科园电信科技楼515办公室。5月26日12：00前，各班班长将本班同学的设计报告电子档收齐后发送到邮箱wangsong_zzu@163.com严禁抄袭，违者后果自负。